<%= form_for @event, :html => {:multipart => true} do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
		<%= f.label :image %><br />
    <%= f.file_field :image %>
	</div>
  <div class="field">
    <%= f.label :peak %><br />
    <%= f.select :peak, options_for_select([ "Personal", "Fit", "Financial", "Social", "Career", "Community", "Possibility" ], @event.peak)%>
  </div>
	<div class="field">
		<%= f.label :location %><br />
		<%= f.text_field :location %>
	</div>
	<div class="field">
		<%= f.label :max_number %><br />
		<%#= f.text_field :max_number %>
		<%= f.select :max_number, (1..500) %>
	<div class="field">
		<%= f.label :info %><br />
		<%= f.text_area :info, :size => "10*8" %>
	</div>
  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.datetime_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br />
    <%= f.datetime_select :end_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
