<div class="leftCol">
  <%= image_tag @event.image_url(:eventthumb), :alt => @event.name, :class => "eventLogo" %>
  <div class="eventPeopleCount">
    <%= @event.rsvps.count %> Attending
  </div>
  <% if @rsvp.any? %>
  <ul>
    <% @rsvp.each do |rsvp| %>
      <li><%= User.find(rsvp.user_id).name %></li>
	  <% end %>
  </ul>
  <% end %>
</div>
<div class="rightContainer">
  <div class="headerArea">
    <div class="eventSideBtn">
      <% if signed_in? && current_user.admin? %>
        <%= link_to 'Edit', edit_event_path(@event) %>
        Message Guests
      <% end %>
    </div>
    <div class="profileHeader">
      <h1><%= @event.name %></h1>
      <div>
          <% if signed_in? %>
            <% if current_user.attending?(@event) %>
							<% ticket = current_user.rsvps.find_by_event_id(@event) %>
              <%= form_for ticket, :html => {:method => :delete } do |f| %>
								<div class="field">
									<%= f.label :notes %>
							    <%= ticket.notes %>
								</div>
                <div class="actions"><%= f.submit "Not Attend" %></div>
              <% end %>
            <% else %>
							<% if @event.vacancy? %>
	              <%= form_for current_user.rsvps.build(:event_id => @event.id) do |f| %>
		              <div><%= f.hidden_field :event_id %></div>
									<div>
										<%= f.label :notes %>
										<%= f.text_field :notes %>
									</div>
		              <div class="actions"><%= f.submit "Attend" %></div>
								<% end %>
							<% else %>
								<div>
									There is no more vacancy for this event.
								</div>
							<% end %>
            <% end %>
          <% else %>
            <%= button_to 'RSVP', signin_path %>
          <% end %>
      </div>
    </div>
  </div>
  <div class="eventInfo">
    <table class="eventInfoTable">
      <tbody>
        <tr>
          <th class="label">Time:</th>
          <td class="data"><%= @event.start_time.strftime("%A, %b %d at %I:%M%p") %> - <%= @event.end_time.strftime("%I:%M%p") %></td>
        </tr>
        <tr>
          <th class="label">Location:</th>
          <td class="data"><%= @event.location %></td>
        </tr>
        <tr>
          <th class="label">Event Info:</th>
          <td class="data"><%= @event.info %></td>
        </tr>
				<% if current_user.admin? %>
				<tr>
					<th class="label">Max Number</th>
					<td class="data"><%= @event.max_number %></td>
				</tr>
				<% end %>
      </tbody>
    </table>
		<div id="eventPhotos">
			<ul>
			<% for photo in @photo %>
				<li><%= image_tag photo.image_url(:thumb) if photo.image? %></li>
			<% end %>
			</ul>
			<%= link_to "Upload photo", new_photo_path(:event_id => @event) %>
		</div>
  </div>
</div>
<div style="clear:both"></div>



