<div class="leftCol">
  <%= link_to image_tag("eventlogo_big.png", :alt => @event.name), :class => "eventLogo" %>
  <div class="eventPeopleCount">
    <%= Rsvp.count(:conditions => ['event_id = ?', @event ]) %> Attending
  </div>
  <% if @rsvp.any? %>
  <ul>
    <% @rsvp.each do |rsvp| %>
      <li><%= User.find(rsvp.user_id).name %></li>
	  <% end %>
  </ul>
  <% end %>
</div>
<div class="rightContainer">
  <div class="headerArea">
    <div class="eventSideBtn">
      <% if signed_in? && current_user.admin? %>
        <%= link_to 'Edit', edit_event_path(@event) %>
        Message Guests
      <% end %>
    </div>
    <div class="profileHeader">
      <h1><%= @event.name %></h1>
      <div>
          <% if signed_in? %>
            <% if current_user.attending?(@event) %>
              <%= form_for current_user.rsvps.find_by_event_id(@event), :html => {:method => :delete } do |f| %>
                <div class="actions"><%= f.submit "Not Attend" %></div>
              <% end %>
            <% else %>
              <%= form_for current_user.rsvps.build(:event_id => @event.id) do |f| %>
              <div><%= f.hidden_field :event_id %></div>
              <div class="actions"><%= f.submit "Attend" %></div>
            <% end %>
          <% end %>
          <% else %>
            <%= button_to 'RSVP', signin_path %>
          <% end %>
      </div>
    </div>
  </div>
  <div class="eventInfo">
    <table class="eventInfoTable">
      <tbody>
        <tr>
          <th class="label">Time:</th>
          <td class="data"><%= @event.start_time.strftime("%A, %b %d at %I:%M%p") %> - <%= @event.end_time.strftime("%I:%M%p") %></td>
        </tr>
        <tr>
          <th class="label">Location:</th>
          <td class="data">Lorem ipsum dolor sit amet</td>
        </tr>
        <tr>
          <th class="label">Event Info:</th>
          <td class="data">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer in
mi a mauris ornare sagittis. Suspendisse potenti. Suspendisse dapibus
dignissim dolor. Nam sapien tellus, tempus et, tempus ac, tincidunt
in, arcu. Duis dictum. Proin magna nulla, pellentesque non, commodo
et, iaculis sit amet, mi. Mauris condimentum massa ut metus. Donec
viverra, sapien mattis rutrum tristique, lacus eros semper tellus, et
molestie nisi sapien eu massa. Vestibulum ante ipsum primis in</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



