<!--<p id="notice"><%= notice %></p>-->

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Peak:</b>
  <%= @event.peak %>
</p>

<p>
  <b>Start time:</b>
  <%= @event.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @event.end_time %>
</p>

<p>
  <b>Attending Count</b>
  <%= Rsvp.count(:conditions => ['event_id = ?', @event.id ]) %>
</p>

<% unless current_user?(@user) %>
  <% if current_user.attending?(@event) %>
    <%= form_for current_user.rsvps.find_by_event_id(@event), :html => {:method => :delete } do |f| %>
      <div class="actions"><%= f.submit "Not Attend" %></div>
    <% end %>
  <% else %>
    <%= form_for current_user.rsvps.build(:event_id => @event.id) do |f| %>
      <div><%= f.hidden_field :event_id %></div>
      <div class="actions"><%= f.submit "Attend" %></div>
    <% end %>
  <% end %>
<% end %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
