<div class="dateheader">
  <h3><%= date_type %></h3>
</div>
<div class="eventRow">
  <ul>
    <% object.each do |event| %>
      <li>
        <%= link_to image_tag("eventlogo.png", :alt => event.name), event_path(event.id), :class => "eventLogo" %>
        <div class="rsvpBtn">
		<% unless current_user?(@user) %>
			<% if current_user.attending?(event.id) %>
				<%= link_to 'Attending', event_path(event.id) %>
			<% else %>
				<%= link_to 'RSVP', event_path(event.id) %>
			<% end %>
		<% end %>
        </div>
        <div class="eventInfo">
          <span class="eventTitle"><%= link_to event.name, event_path(event.id), :class => "eventTitleLink" %></span>
          <div class="eventDateTime"><%= event.start_time.strftime("%A, %b %d at %I:%M%p") %></div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
