<div class="eventheader">
  <h2>Event List</h2>
</div>
<div class="mainCol">
  <% if @today_events.any? %>
    <%= render 'pages/event_row', :object => @today_events, :date_type => "Today" %>
  <% end %>
  <% if @tomorrow_events.any? %>
    <%= render 'pages/event_row', :object => @tomorrow_events, :date_type => "Tomorrow" %>
  <% end %>
  <% if @week_events.any? %>
    <%= render 'pages/event_row', :object => @week_events , :date_type => "This Week"%>
  <% end %>
  <% if @month_events.any? %>
    <%= render 'pages/event_row', :object => @month_events , :date_type => "This Month"%>
  <% end %>
	<div class="pastEvents">
		<%= link_to "Past Events", pastevent_path %>
	</div>
</div>

